<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- views/partials/head.ejs -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title> 'Office Queue' </title>

    <!--JS JQuery -->
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>

    <!--JS Moment -->
    <script type="text/javascript" src="/js/moment/min/moment-with-locales.min.js"></script>

    <!-- JS + CSS Bootstrap-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>

    <!-- JS BootBox-->
    <script type="text/javascript" src="/js/bootbox/bootbox.min.js"></script>

    <!--JS JQuery SparkLine -->
    <script type="text/javascript" src="/js/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!-- Custom Style-->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!--Socket.IO-->
    <script src="/socket.io/socket.io.js"></script>
    <script>var socket = io('/');</script>
</head>
<body class="container-fluid">
    <header>    </header>

    <main>
        <div class="jumbotron jumbotron-full-width">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>TICKET USER</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center text-center ">
            <span class="badge badge-pill badge-primary"> Team 7 </span>
        </div>
        </br>
        <div class="row justify-content-md-center text-center">
            <span class="badge badge-pill badge-success">Alessandro</span>
            <span class="badge badge-pill badge-success">Benedetta</span>
            <span class="badge badge-pill badge-success">Damiano</span>
            <span class="badge badge-pill badge-success">Gaetano</span>
            <span class="badge badge-pill badge-success">Giosuè</span>
            <span class="badge badge-pill badge-success">Yuexin</span>
        </div>
    </main>

        <footer style="position: absolute; bottom:0">
            <div class="container">
                <p class="text-center"> © Copyright Software Engineering II - Team 7</p>
            </div>
        </footer>
    <script>

    </script>
</body>
</html>